name: Fetch Yahoo News All RSS Feed


on:
  schedule:
    - cron: '0 * * * *'  # Run 1 time every hour

jobs:
  fetch-rss:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v2
         with:
          fetch-depth: 1  # Shallow clone to reduce fetch time

      - name: Fetch Yahoo News RSS feeds
        run: |
          current_month=$(date +'%Y%m')
          current_week=$(date +'%Y%m_%W') # 1-51
          day_offset=$(( 7 - current_day_of_week ))
          current_time=$(date +'%Y%m%d_%H%M')
          folder_name="xml-filesB_${current_week}"
          mkdir -p $folder_name
          sleep 3
          curl -o "${folder_name}/entertainment_${current_time}.xml" https://news.yahoo.co.jp/rss/topics/entertainment.xml
          sleep 3
          curl -o "${folder_name}/sports_${current_time}.xml" https://news.yahoo.co.jp/rss/topics/sports.xml
          sleep 3
          curl -o "${folder_name}/it_${current_time}.xml" https://news.yahoo.co.jp/rss/topics/it.xml
          sleep 3
          curl -o "${folder_name}/local_${current_time}.xml" https://news.yahoo.co.jp/rss/topics/local.xml
          sleep 3
          curl -o "${folder_name}/science_${current_time}.xml" https://news.yahoo.co.jp/rss/topics/science.xml

      - name: Set Git Config
        run: |
          git config user.name "Automated"
          git config user.email "actions@users.noreply.github.com"
        working-directory: ${{ github.workspace }}
        
      - name: Commit and push XML files
        run: |
          git add .
          git commit -m "Update XML files"
          git push
        working-directory: ${{ github.workspace }}
